@keyframes transitionColor1 {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translate(0);
    }
}
.trans1{
    animation: transitionColor1 1s;
}

@keyframes transitionColor2 {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translate(0);
    }
}
.trans2{
    animation: transitionColor2 1s;
}

body{
    background-color:#ee352a;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor:url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg fill='%23ffffff' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M269.429,0h-24.333c-73.952,0-135.381,59.29-135.381,133.165V377.2c0,73.875,61.429,134.8,135.381,134.8h24.333 c73.952,0,132.857-60.926,132.857-134.8V133.165C402.286,59.29,343.381,0,269.429,0z M377.905,377.2 c0,60.434-47.964,110.42-108.476,110.42h-24.333c-60.512,0-111-49.985-111-110.42V133.165c0-60.427,51.81-109.588,109.714-109.601 v49.579h24.381V23.564c60.952,0.013,109.714,49.174,109.714,109.601V377.2z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M256,84.515c-20.167,0-36.571,16.436-36.571,36.631v12.073c0,20.197,16.405,36.629,36.571,36.629 s36.571-16.433,36.571-36.629v-12.073C292.571,100.951,276.167,84.515,256,84.515z M268.19,133.219 c0,6.867-5.357,12.248-12.19,12.248c-6.726,0-12.19-5.494-12.19-12.248v-12.073c0-6.756,5.464-12.25,12.19-12.25 c6.726,0,12.19,5.494,12.19,12.25V133.219z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='243.81' y='182.857' width='24.381' height='60.952'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), auto;
}

#container{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;

    background-color:#ee352a;
    transition: background-color 1s ease-out;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quote{
    color: #fcf9c4;
    font-family: 'lucida console';
    font-size: 40px;
    transition: opacity 1s;
}

button{
    color: #fcf9c4;
    font-family: 'lucida console';
    font-size: 20px;
    background: none;
    border: none;
    margin-top: 20px;
    padding-top: 20px;
    align-self: flex-end;
    justify-self: flex-end;
    transition: opacity 1s;
}

button:hover{
    cursor: pointer;
    color: #fcf9c4;
    font-family: 'lucida console';
    font-size: 20px;
    background: none;
    border: none;
    align-self: flex-end;
    cursor: url("data:image/svg+xml,%3Csvg id='svg' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0, 0, 400,400'%3E%3Cg id='svgg'%3E%3Cpath id='path0' d='M124.519 18.269 C 99.813 42.976,98.138 112.500,122.249 112.500 C 128.678 112.500,129.783 105.083,126.935 81.043 C 122.165 40.764,139.150 18.750,175.000 18.750 C 206.510 18.750,225.000 39.123,225.000 73.840 C 225.000 92.927,227.535 100.000,234.375 100.000 C 253.239 100.000,246.649 39.437,225.481 18.269 C 199.005 -8.207,150.995 -8.207,124.519 18.269 M149.203 41.565 C 137.628 55.485,136.961 175.779,148.438 179.654 C 154.304 181.635,156.250 168.280,156.250 126.032 C 156.250 61.686,159.207 50.000,175.492 50.000 C 186.212 50.000,187.287 56.853,188.886 135.425 C 190.138 196.933,192.812 221.577,198.438 223.446 C 204.122 225.335,206.250 215.573,206.250 187.610 C 206.250 112.075,235.728 102.132,238.800 176.631 C 241.025 230.561,256.250 245.595,256.250 193.860 C 256.250 127.985,285.630 118.064,288.779 182.876 C 290.734 223.123,306.250 243.978,306.250 206.360 C 306.250 180.505,316.451 162.010,328.220 166.526 C 341.117 171.475,341.489 292.984,328.683 317.498 C 289.755 392.013,177.788 404.424,132.867 339.204 C 103.992 297.280,61.904 217.086,63.749 207.507 C 67.901 185.946,84.971 194.153,112.526 230.956 C 148.826 279.440,156.250 279.401,156.250 230.729 C 156.250 192.710,143.379 179.058,138.558 211.962 C 136.644 225.019,134.862 224.168,114.633 200.535 C 83.371 164.012,43.750 167.980,43.750 207.634 C 43.750 252.365,129.524 377.835,170.719 393.367 C 276.992 433.433,356.330 366.210,356.154 236.248 C 356.047 156.895,353.176 148.564,325.601 147.574 C 312.973 147.121,304.907 143.032,302.645 135.938 C 300.727 129.922,294.425 124.519,288.641 123.931 C 263.748 121.400,258.433 120.196,241.110 113.159 C 231.064 109.079,219.111 107.173,214.547 108.924 C 208.298 111.322,206.250 103.980,206.250 79.179 C 206.250 33.806,173.572 12.260,149.203 41.565 ' stroke='none' fill='%23ffffff' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"),auto;
}


